<div class="col-xs-12">
    <style>
        label {
            color: lightgray;
        }
        input {
            background-color: lightgray;
        }
    </style>        
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Tally Book Name</label>
            <input
                type="text" 
                id="tally-book-name" 
                class="form-control"
                [(ngModel)]="newTallyBookName"
                placeholder="Tally Book Name"
                (keyup)="doesTallyBookNameExist()">
        </div>
    </div>
    <div>
        <button 
            class="btn btn-primary"
            type="button"           
            (click)="onCreateChangeTallyBookName()"
            [disabled]="!validTallyBookName">
            {{ isNewTallyBook ? 'Create New Tally Book' : 'Change Tally Book Name' }}
        </button>
    </div>  
</div>
